<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - infnetMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/infnetMVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Account.css" asp-append-version="true" />
</head>
<body>
    <header class="header_main"  >
        <nav class="box-shadow">
            <div class="div-navBar">
                <div class="div-navBar-box my-navbar" >
                    <div>
                        <a  asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </div>
                    <div>
                        <ul  class="list">
                            <li>
                                <a  asp-area="" asp-controller="Funcionarios" asp-action="index">Funcionario</a>
                            </li>
                            <li>
                                <a  asp-area="" asp-controller="Departamentoes" asp-action="index">Departamento</a>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="div-navBar-box" >
                    <partial name="_LoginPartial.cshtml" />
                </div>
            </div>
        </nav>
    </header>
    <hr />
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - infnetMVC by João Victor Simões
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
