@{
    ViewData["Title"] = "Home Page";
}

<div class="sobre" >

    <h1 >Desenvolvimento Web com .NET e Bases de Dados</h1>
    <h3>Professor - Ricardo Frohlich da Silva</h3>
    <h3>Intituto Infnet</h3>
    <p>
        Neste curso, você dominará o Desenvolvimento Web com .NET e Bases de Dados. Aprenda a preparar o ambiente em C# e .NET,
        criar aplicativos full-stack em ASP.NET Core com Razor Pages e acessar bases de dados de forma eficiente usando EF Core. 
        Você irá desenvolver projetos web completos e conquistar novas habilidades na área!
    </p>

    <h3>Competências abordadas:</h3>
    <ol>
        <li>Preparar ambiente para desenvolvimento local com C# e .NET</li>
        <li>Desenvolver uma aplicação web full-stack ("server-based UI") em ASP.NET Core usando Razor Pages</li>
        <li>Acessar bases de dados usando EF Core (sem SQL)</li>
        <li>Desenvolver uma aplicação web em ASP.NET Core acessando bases de dados via EF Core</li>
    </ol>
    
    <h3>Minha opinião sobre a disciplina</h3>
    <p>
        A disciplina de banco de dados com.Net foi ministrada pelo professor Ricardo Frohlich da Silva , a disciplina trata-se da implementação de banco de dados
        com o .Net por meio do pacote EntityFrameWork o banco de dados mais utilizado foi SqLite e no final da disciplina teve uma pequena
        implementação do banco SQL Server, a disciplina também trata de relacionamentos de classes, por fim teve autentificação de usuário individual,
        foi uma disciplina incrível repleta de conhecimentos, nota 10.
    </p>
    <br />
    <br />

</div>
