

h1 {
    margin-bottom: 16px;
}

body,
footer {
    background-color: #171717;
    color: white;
}

.form-floating {
    color: #000 !important;
}

div,
a,
.table,
li,
ul,
button,
ol {
    color: #fff;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}



.my-navbar a {
    font-size: 24px;
}



/* header ------------------------------------------------------------------- */
.header_main {
    height: 64px;
    width: 100vw;
    display: flex;
    align-items: center;
    margin-bottom: 10px
}

    .header_main .container-navBar {
        margin: 0;
        width: 100vw;
        height: 100px;
        border: 1px solid blue;
    }

    .header_main .div-navBar {
        padding: 0 24px;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header_main .div-navBar-box {
        display: flex;
        align-items: center;
    }

    .header_main .list {
        display: flex;
    }

        .header_main .list li {
            margin-left: 20px;
        }

    .header_main .my_container a {
        font-size: 28px;
    }

    .header_main a:hover {
        color: #fff;
    }



/* Botão -------------------------------------------------------------------- */
.my_btn {
    border: .5px solid #fff;
    line-height: 0px;
    border-radius: 7.5px;
    padding: 4px 6px;
    height: 30px;
    transition: .25s;
    color: white;
    margin-right: 10px;
}

.action_my_btn {
    background-color: purple;
}

.delete_my_btn {
    background-color: darkred;
}

.my_btn:hover {
    color: #fff;
    border-color: purple;
    filter: brightness(1.5);
    background-color: purple;
    box-shadow: 0 0 30px purple, 0 0 30px purple;
}

.delete_my_btn:hover {
    color: #fff;
    filter: brightness(1.5);
    border-color: darkred;
    background-color: darkred;
    box-shadow: 0 0 30px darkred, 0 0 30px darkred;
}

/*----------------------------------------------------*/



﻿div.Computador_Index_title {
    margin: 10px 0 20px 0;
}

.Mytable.thead.tr.th {
    color: #fff;
}

/* Create.cshtml ----------------------------------------------- */

.my_btn {
    border: .5px solid #fff;
    line-height: 0px;
    border-radius: 7.5px;
    padding: 4px 6px;
    height: 30px;
    transition: .25s;
    color: white;
    margin-right: 10px;
}

.action_my_btn {
    background-color: purple;
}

.delete_my_btn {
    background-color: darkred;
}

.my_btn:hover {
    color: #fff;
    border-color: purple;
    filter: brightness(1.5);
    background-color: purple;
    box-shadow: 0 0 30px purple, 0 0 30px purple;
}

.delete_my_btn:hover {
    color: #fff;
    filter: brightness(1.5);
    border-color: darkred;
    background-color: darkred;
    box-shadow: 0 0 30px darkred, 0 0 30px darkred;
}

.my_btns {
    margin-top: 10px;
    height: 50px;
    width: 180px;
    display: flex;
    align-items: center;
}


.sobre h1,
.sobre h3{
    margin-bottom: 12px 0 18px 0;
}
